<template>
  <div class="common-layout">
    <el-container>
      <el-header
        ><el-row>
          <span
            style="padding-right: 10px;font-size: 24px; float: left;height: 60px;line-height: 60px;"
            >DM Registry</span
          >
          <el-menu
            :default-active="activeIndex"
            class="el-menu-demo"
            mode="horizontal"
            @select="handleSelect"
          >
            <el-menu-item index="1">Resources</el-menu-item>
            <el-menu-item index="2">Contributors</el-menu-item>
          </el-menu>
        </el-row>
      </el-header>

      <el-main>
        <el-table
          :data="resourcesData"
          style="width: 100%"
          v-if="activeIndex == 1"
        >
          <el-table-column prop="id" label="UID" width="180"> </el-table-column>
          <el-table-column prop="name" label="Name" width="180">
          </el-table-column>

          <el-table-column prop="ingestion" label="Ingestion data">
          </el-table-column>
        </el-table>

        <el-table
          :data="contributorsData"
          style="width: 100%"
          v-if="activeIndex == 2"
        >
          <el-table-column prop="id" label="UID" width="180"> </el-table-column>
          <el-table-column prop="cern_id" label="CERN ID" width="180">
          </el-table-column>
          <el-table-column prop="name" label="Name"> </el-table-column>
        </el-table>
      </el-main>
      <el-footer></el-footer>
    </el-container>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  data() {
    return {
      resourcesData: [],
      contributorsData: [],
      activeIndex: "0"
    };
  },

  props: {
    msg: String
  },
  methods: {
    handleSelect: function(index) {
      this.activeIndex = index;
    }
  },
  mounted() {
    this.axios
      .get("http://0.0.0.0:5000/api/v1/listresources")
      .then(response => {
        var self = this;
        response.data.forEach(element => {
          let data_el = new Object();
          data_el.id = element[0];
          data_el.name = element[1];
          if (element[2] != {}) {
            data_el.ingestion = element[2];
          } else {
            data_el.ingestion = "NODATA";
          }

          console.log(data_el);
          self.resourcesData.push(data_el);
        });
      });

    this.axios
      .get("http://0.0.0.0:5000/api/v1/listcontributors")
      .then(response => {
        var self = this;
        response.data.forEach(element => {
          let data_el = new Object();
          data_el.id = element[0];
          data_el.cern_id = element[1];
          data_el.name = element[2];
          self.contributorsData.push(data_el);
        });
      });
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
